
<f:if condition="{contentObject.flexform_fallback_text}">
	<f:then>
		<f:format.html>{contentObject.flexform_fallback_text}</f:format.html>
	</f:then>
	<f:else>
		<p><f:translate key="locked.default" /></p>
	</f:else>
</f:if>
<f:flashMessages renderMode="div" class="typo3-messages tx-content-password-form-error" />
<f:form action="unlock" class="form-inline tx-content-password-form">
	<div class="form-group">
		<f:form.hidden name="unlockid" value="{contentObject.uid}"/>
		<f:if condition="{mode} == 'ldap'">
			<f:form.textfield name="username" class="form-control" placeholder="{f:translate(key: 'form.input.username_placeholder')}"/>
		</f:if>
		<f:form.textfield type="password" name="password" class="form-control" placeholder="{f:translate(key: 'form.input.password_placeholder')}"/>
		<f:form.submit class="btn btn-primary" value="{f:translate(key: 'form.button.show')}"/>
	</div>
</f:form>
